*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #ecf2f8;
  font-size: 1.6rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

.testimonial__container {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 810px) {
  .testimonial__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1140px) {
  .testimonial__container {
    padding: 6rem 13rem 0 13rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
}

.testimonial {
  font-size: 1.3rem;
  font-weight: 500;
}
.testimonial__box {
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.testimonial__box--daniel {
  background-color: #7541c8;
  color: white;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 21rem 0rem;
}
.testimonial__box--jonathan {
  background-color: #48556a;
  color: white;
}
.testimonial__box--jeanette {
  background-color: white;
  color: #19212e;
}
.testimonial__box--patrick {
  background-color: #19212e;
  color: white;
}
.testimonial__box--kira {
  background-color: white;
  color: #19212e;
}
@media (min-width: 810px) {
  .testimonial__box--daniel {
    background-position: right 7.5rem top 0rem;
    background-size: 11.5rem;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .testimonial__box--jonathan {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .testimonial__box--jeanette {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .testimonial__box--patrick {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .testimonial__box--kira {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}
@media (min-width: 1140px) {
  .testimonial__box--daniel {
    background-position: right 7.5rem top 0rem;
    background-size: 11.5rem;
    transform: translateX(-100rem);
    animation: come-in-left 0.5s ease-out alternate forwards;
  }
  .testimonial__box--jonathan {
    transform: translateY(-50rem);
    animation: come-in-top 0.5s ease-out 0.5s alternate forwards;
  }
  .testimonial__box--jeanette {
    transform: translateY(50rem);
    animation: come-in-left 0.5s ease-out 1s alternate forwards;
  }
  .testimonial__box--patrick {
    transform: translateY(50rem);
    animation: come-in-bottom 0.5s ease-out 1s alternate forwards;
  }
  .testimonial__box--kira {
    transform: translateX(50rem);
    animation: come-in-right 0.5s ease-out 1.5s alternate forwards;
    grid-column: 4/5;
    grid-row: 1/3;
  }
}
.testimonial__person {
  display: flex;
  gap: 2rem;
}
.testimonial__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
}
.testimonial__name {
  font-size: 1.3rem;
  font-weight: 600;
}
.testimonial__txt {
  font-size: 1.2rem;
  opacity: 0.5;
}
.testimonial__description {
  padding-right: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
}
@media (min-width: 1140px) {
  .testimonial__description {
    padding: 0;
    font-size: 2.2rem;
  }
}
.testimonial__paragraph {
  padding-right: 3.5rem;
  opacity: 0.7;
}
@media (min-width: 1140px) {
  .testimonial__paragraph {
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 0;
  }
  .testimonial__paragraph--jeanette {
    color: #48556a;
  }
  .testimonial__paragraph--kira {
    color: #48556a;
  }
}

.attribution {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
  color: #19212e;
  transition: all 0.2s;
}
.attribution__link:link, .attribution__link:visited {
  text-transform: uppercase;
  color: #7541c8;
  transition: all 0.2s;
}
.attribution__link:hover, .attribution__link:active {
  color: #19212e;
}

@keyframes come-in-left {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes come-in-top {
  0% {
    transform: translateY(-50rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes come-in-bottom {
  0% {
    transform: translateY(50rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes come-in-right {
  0% {
    transform: translateX(50rem);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
