@use "./base" as *;

.testimonial {
  font-size: 1.3rem;
  font-weight: 500;
  &__box {
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    &--daniel {
      background-color: $color-violet;
      color: $color-White;
      background-image: url(../images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position: 21rem 0rem;
    }

    &--jonathan {
      background-color: $color-blue;
      color: $color-White;
    }

    &--jeanette {
      background-color: $color-White;
      color: $color-darkBlue;
    }

    &--patrick {
      background-color: $color-darkBlue;
      color: $color-White;
    }

    &--kira {
      background-color: $color-White;
      color: $color-darkBlue;
    }

    @media (min-width: 810px) {
      &--daniel {
        background-position: right 7.5rem top 0rem;
        background-size: 11.5rem;
        grid-column: 1/3;
        grid-row: 1/2;
      }

      &--jonathan {
        grid-column: 3/4;
        grid-row: 1/2;
      }

      &--jeanette {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      &--patrick {
        grid-column: 2/4;
        grid-row: 2/3;
      }

      &--kira {
        grid-column: 1/4;
        grid-row: 3/4;
      }
    }

    @media (min-width: 1140px) {
      &--daniel {
        background-position: right 7.5rem top 0rem;
        background-size: 11.5rem;
        transform: translateX(-100rem);
        animation: come-in-left 0.5s ease-out alternate forwards;
      }

      &--jonathan {
        transform: translateY(-50rem);
        animation: come-in-top 0.5s ease-out 0.5s alternate forwards;
      }

      &--jeanette {
        transform: translateY(50rem);
        animation: come-in-left 0.5s ease-out 1s alternate forwards;
      }

      &--patrick {
        transform: translateY(50rem);
        animation: come-in-bottom 0.5s ease-out 1s alternate forwards;
      }

      &--kira {
        transform: translateX(50rem);
        animation: come-in-right 0.5s ease-out 1.5s alternate forwards;

        grid-column: 4/5;
        grid-row: 1/3;
      }
    }
  }

  &__person {
    display: flex;
    gap: 2rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid $color-lightGray;
  }

  //   &__info {
  //   }

  &__name {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__txt {
    font-size: 1.2rem;
    opacity: 0.5;
  }

  &__description {
    padding-right: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 0;
    @media (min-width: 1140px) {
      padding: 0;
      font-size: 2.2rem;
    }
  }

  &__paragraph {
    padding-right: 3.5rem;
    opacity: 0.7;
    @media (min-width: 1140px) {
      font-size: 1.4rem;
      line-height: 1.4;
      padding: 0;
      &--jeanette {
        color: $color-blue;
      }
      &--kira {
        color: $color-blue;
      }
    }
  }
}

.attribution {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
  color: $color-darkBlue;
  transition: all 0.2s;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-violet;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-darkBlue;
  }
}

@keyframes come-in-left {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes come-in-top {
  0% {
    transform: translateY(-50rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes come-in-bottom {
  0% {
    transform: translateY(50rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes come-in-right {
  0% {
    transform: translateX(50rem);
  }
  100% {
    transform: translateX(0);
  }
}
